  <div class="form-group">
    <% @contacts.each do |contact| %>
      <%= check_box_tag 'interview[contact_ids][]', contact.id, @interview.contacts.include?(contact), dom_id(contact) %>
      <%= label_tag dom_id(contact), contact.full_name, class: "check_box_label" %>
    <% end %>
  </div>
