<div class="row comp-index-head">
  <h2 class="comp-head">All Jobs</h2>
</div>
<div class="row">
<ul>
  <% @all_interviews.each do |interview| %>
    <li><p><%= link_to "Interview Date: #{interview.interview_date} | Notes: #{interview.notes} ", job_interview_path(interview) %></p></li>
  <% end %>
</ul>
</div>
