<% content_for(:title, "Job Interviews") %>

<div class="row index-head">
  <h2>Interviews List</h2>
</div>

<div class="row interviews-ul">
<ul class="fa-ul">
  <% @all_interviews.each do |interview| %>
    <% job = Job.find(interview.job_id) %>
    <li><p><%= link_to "Interview Date: #{interview.interview_date.strftime("%m/%d/%Y")} at #{interview.interview_time.strftime("%I:%M %p")}  |  Notes: #{interview.notes} ", job_interview_path(job, interview) %></p></li>
  <% end %>
</ul>
</div>
