<div class="row comp-index-head">
  <h2 class="comp-head">All Interviews</h2>
</div>
<div class="row">
<ul>
  <% @all_interviews.each do |interview| %>
    <% job = Job.find(interview.job_id) %>
    <li><p><%= link_to "Interview Date: #{interview.interview_date.strftime("%m/%d/%Y")}  |  Notes: #{interview.notes} ", job_interview_path(job, interview) %></p></li>
  <% end %>
</ul>
</div>
