<% content_for(:title, "Job Applications") %>

<div class="row index-head">
  <h2>Job Applications List</h2>
</div>

<div class="row jobs-ul">
<ul class="fa-ul">
  <% @all_jobs.each do |job| %>
    <% company = Company.find(job.company_id) %>
    <li><p>
      <%= link_to company_job_path(company, job)  do %>
        <%= job.description %> @ <%= company.name %>
        <% if job.status == "Closed" %>
          <i class="fa fa-thumbs-down"> Closed</i>
        <% end %>
      <% end %>
    </p></li>
  <% end %>
</ul>
</div>
