<% content_for(:title, "Job Applications") %>

<div class="row head-div col-pads">
  <h2>Job Applications List</h2>
</div>

<div class="row jobs-ul">
<ul class="fa-ul">
  <% @all_jobs.each do |job| %>
    <% company = Company.find(job.company_id) %>
    <li><p>
      <%= link_to company_job_path(company, job),title:"View #{job.description} at #{company.name}" do %>
        <%= job.description %> at <%= company.name %>
        <%= render 'layouts/job_closed', object: job %>
      <% end %>
    </p></li>
  <% end %>
</ul>
</div>
