<div class="row comp-index-head">
  <h2 class="comp-head">All Jobs</h2>
</div>
<div class="row">
<ul>
  <% @all_jobs.each do |job| %>
    <% company = Company.find(job.company_id) %>
    <li><p><%= link_to "#{job.description} @ #{job.company.name}", company_job_path(company, job) %></p></li>
  <% end %>
</ul>
</div>
<!-- This page needs to loop through companies, displaying all contacts -->