<div>

	<div class="row">
		<div class="index-one col-xs-5">
			<p> Recent jobs applied for:</p>
		</div>
		<div class="index-two col-xs-5">
			<p> Some of your recent contacts:</p>
		</div>
	</div>

	<div class="row">
		<div class="index-three col-xs-5">
			<p> Some of your upcoming interviews</p>
		</div>
		<div class="index-four col-xs-5">
			<p> Reminders: </p>
		</div>
	</div>

</div>
