	<div class="row one-step">
		<button class="btn btn-primary btn-lg">I applied for a Job!</button>

	</div> 

	<div class="row row-one">
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-one">
				<p> Recent jobs applied for:</p>
			</div>
		</div>
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-two">
				<h4> Some of your recent companies:</h4>
					<% @companies.each do |company| %>
						<p><%= link_to "#{company.name}", company_path(company), class: "companies-all" %></p>
					<% end %>
			</div>
		</div>
	</div>

	<div class="row row-two">
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-three">
				<p> Some of your upcoming interviews</p>
			</div>
		</div>
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-four">
				<p> Reminders: </p>
			</div>
		</div>
	</div>

