<% content_for(:title, "The Jobseeker - A Job Search Organizer") %>

	<div class="row one-step">
		<%= link_to image_tag("apply-icon.png") + "Enter a New Application", root_path, class: "btn btn-default" %>
	</div> 

	<div class="row row-one">
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-one">
				<h4> Recent jobs applied for:</h4>
					<% @jobs.each do |job| %>
						<% company = Company.find(job.company_id) %>
						<p><%= link_to "#{job.description}", company_job_path(company, job), class: "companies-all" %></p>
						<% end %>
			</div>
		</div>
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-two">
				<h4> Some of your recent companies:</h4>
					<% @companies.each do |company| %>
						<p><%= link_to "#{company.name}", company_path(company), class: "companies-all" %></p>
					<% end %>
			</div>
		</div>
	</div>

	<div class="row row-two">
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-three">
				<h4> Some of your upcoming interviews</h4>
					<% @interviews.each do |interview| %>
						<% job = Job.find(interview.job_id) %>
						<p><%= link_to "#{interview.interview_date.strftime("%A, %b %d")}", job_interview_path(job,interview), class: "companies-all" %></p>
					<% end -%>
			</div>
		</div>
		<div class="outer-box col-xs-12 col-sm-12 col-md-6">
			<div class="index-four">
				<h4> Reminders: </h4>
			</div>
		</div>
	</div>

