<% content_for(:title, "The Jobseeker - A Job Search Organizer") %>

<%= video_tag("clouds.mp4", :autoplay=> "true", :muted=>"true", :loop=>"true", class:"bgvideo") %>
<div class="container welcome-head">
  <h1>Welcome to the Jobseeker!</h1>
  <h3><%= link_to "Log In", new_user_session_path, id: "login-prof" %> now to organize your jobsearch.</h3>
</div>