  <div class="col-sm-offset-3">
    <%= button_tag(f.object.new_record? ? "<i id='iconChange'class='fa fa-list-alt'> Add another Social Account</i>".html_safe : "<i id='iconChange'class='fa fa-list-alt'> Update the Social Account</i>".html_safe,id:"duplicate_nested_form",type:'button',class: "btn btn-default btn-nofloat",title:'Click if you want to to add another social media account') %>
  </div>