
<div class="row comp-index-head">
	<h3 class="comp-head">Contacts</h3>
	<%= link_to image_tag("db-add-icon.png", class: "add-btn", title: "Add a new Contact", alt: "Add a new contact"), new_company_contact_path %>
</div>

<ul>
  <% @contacts.each do |contact| %>
	  <li><p><%= link_to "#{contact.first_name} #{contact.last_name} ", company_contact_path(@company, contact) %></p></li>
  <% end %>
</ul>
<!-- This page needs to loop through companies, displaying all contacts -->