<div class="row index-head">
	<h2>Contacts Directory</h2>
</div>

<div class="row">
<ul class="fa-ul">
  <% @all_contacts.each do |contact| %>
  	<% company = Company.find(contact.company_id) %>
	  <li><p><%= link_to "#{contact.first_name} #{contact.last_name} @ #{company.name}", company_contact_path(company, contact) %></p></li>
  <% end %>
</ul>
</div>
<!-- This page needs to loop through companies, displaying all contacts -->