<% content_for(:title, "Contacts") %>

<div class="row show-header-box">
  <div class="col-xs-12 col-sm-6 show-header-title">
    <h2>Contacts Directory</h2>
  </div>
</div>

<div class="row contacts-ul">
  <ul class="fa-ul">
    <% @all_contacts.each do |contact| %>
    	<% company = Company.find(contact.company_id) %>
  	  <li><p><%= link_to "#{contact.first_name} #{contact.last_name} @ #{company.name}", company_contact_path(company, contact),title:"View #{contact.first_name} #{contact.last_name}" %></p></li>
    <% end %>
  </ul>
</div>