<h4>Hello 
  <% if @feedback.sender_name != "" %>
    <%= @feedback.sender_name %>,
  <% else %>
    Jobseeker,
  <% end %>
</h4>
<p>This message is just a quick confirmation that we received a feedback message from you on <%= @feedback.created_at.to_formatted_s(:short) %></p>
<p>We will look at this shortly and appreciate your feedback on this.</p>
<br>
<p>Sincerely, </p>
<p>The Jobseeker Team</p>