<h4>User Feedback</h4>
<p>User email: <%= @feedback.sender_email %></p>
<p>User name: <%= @feedback.sender_name %></p>

<h4>Feedback</h4>
<p>Subject: <%= @feedback.subject %></p>
<br>
<p>Body: <%= @feedback.body %></p>