<div class="container-fluid index-head">
	<h2>Companies List</h2>
	<%= link_to image_tag("db-add-icon.png", class: "add-btn", title: "Add a new Company", alt: "Add a new company"), new_company_path %>
</div>

<div class="row">
	<ul class="company-all">
	  <% @companies.all.each do |company| %>
	    <li><p><%= link_to company.name, company_path(company) %></p></li>
	  <% end %>
	</ul>
</div>
