<%= content_for :title, "Contact Us" %>


<div class="jumbotron">
  <h2>Contact The <span>Job</span>Seeker</h2>  
  <p>Submit your questions, comments or suggestions to make The JobSeeker better.</p>
</div>

<%= render 'form' %>

