<% content_for(:title, "Followups") %>

<div class="row head-div col-pads">

  <div class="floater col-xs-12 col-sm-5 col-md-4">
    <h2>Followups</h2>
  </div>

  <div class="floater col-xs-12 col-sm-7 col-md-8">
    <p>Follow ups are actions you have taken. Just enter anything you took action on so you can keep a log with that company or contact. Here is a few examples - Companies: I called a company. I emailed a company. Contacts: I called a contact. I emailed a contact.</p>
  </div>

</div>

<div class="companies-ul">
  <ul class="fa-ul">
  <% binding.pry %>
    <% @followups.all.each do |followup| %>
      <li>
      <% if followup.follow_type == "Company" %>
        <% @company = Company.find(followup.follow_id) %>
        <%= link_to company_followup_path(@company,followup), title: "View #{followup.action}" do %>
          <%= followup.action %>
        <% end %>
        
      <% end %>
      </li>
    <% end %>
  </ul>
</div>