<% content_for(:title, "Followups") %>

<div class="row show-header-box">
  <div class="col-xs-12 col-sm-6 col-md-4 show-header-title">
    <h2>Followups</h2>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <p>Follow ups are actions you have taken. Just enter anything you took action on so you can keep a log with that company or contact. Here is a few examples - Companies: I called a company. I emailed a company. Contacts: I called a contact. I emailed a contact. <%= link_to "Create or select a company", companies_path, title: "View the company list to create new one" %> and track them under there. From this page you can see all your followups and open them to see the detailed information.</p>
  </div>
</div>


<div class="followups-ul">
  <ul class="fa-ul">
    <% @followups.all.each do |followup| %>
      <li>
      <% if followup.follow_type == "Company" %>
        <% @company = Company.find(followup.follow_id) %>
        <%= link_to "#{followup.action_date.strftime('%m/%d/%Y')} | #{@company.name} | <span class='link-color'>#{followup.action}</span>".html_safe, company_followup_path(@company,followup), title: "View #{followup.action}" %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>