/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.brand-image {
  height: 5em;
  z-index: -9999;
  &:hover {
    height: 5.25em;
  };
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-right {
  padding-right: 1em !important;
}
.navbar-fixed-bottom {
  border: 2px solid lightgray !important;
  display:block;
  margin: 0 auto;
  text-align: center;
  p {
    margin-top: 1em;
  }
}

.nav-format {
  float: left;
  padding-right: 10px;
  font-size: 1.4em;
}
.nav-format p {
  font-size: .55em;
  text-align: center;
  color: #428bca;
}

.logged-in {
  padding-top: 10px;
}

.logged-in p {
  font-size: 1em;
}

.logged-in-name {
  color: #428bca;
}

.image_box {
  margin: 0 auto;
  max-height: 50%;
  border-radius: 2em !important;
  border: 3px solid lightgray;
}

.img-box {
  max-width: 1.5em !important;
  float: right;
}

.menu-options {
  margin-top: 4em;
}

.menu-row {
  margin-top: 5em;
}

.index-one, .index-two, .index-three, .index-four {
  padding: 3px;
  height: 300px;
  border: 1px solid black;
}

.row-one, .row-two {
  margin: 1em;
}
.outer-box {
  float: left;
  padding: 2px;
}

.border-form-div {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

input#user_remember_me {
  margin-right: 5px;
}

input#user_email, input#user_password, input#user_password_confirmation, input#user_name {
  margin-bottom: 15px;
}

.contact-btn {
  background-color: #f8f8f8;
  color: black;
  &:hover {
    background-color: white;
  };
}
